<p id="notice"><%= notice %></p>

<p>
  <b>Uid:</b>
  <%= @vote.uid %>
</p>

<p>
  <b>Pid:</b>
  <%= @vote.pid %>
</p>


<%= link_to 'Edit', edit_vote_path(@vote) %> |
<%= link_to 'Back', votes_path %>
